{{ define "main"}}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title text-primary">Missing Content</h2>
                <p class="lead">
                    Looks like you've entered a page that has been removed or moved elsewhere.
                    If you think this page should be working, let us know!</a>
                </p>
            </div>

            <div class="col-12">
                {{ partial "back.html" }}
            </div>
        </div>
    </div>
</section>
{{ end }}
